#!/usr/bin/env bash

export JAVA_HOME=/usr/lib/jvm/java-11-openjdk-amd64
export SPARK_HOME={{ spark_home }}
export SPARK_MASTER_URL={{ spark_master_url }}
export SPARK_WORKER_MEMORY={{ spark_worker_memory }}
export SPARK_WORKER_CORES={{ spark_worker_cores }}
export SPARK_WORKER_WEBUI_PORT={{ spark_worker_webui_port }}
export SPARK_LOG_DIR={{ spark_home }}/logs
export SPARK_PID_DIR=/var/run/spark
export SPARK_WORKER_DIR={{ spark_home }}/work